@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
}

.container {
    display: flex;
}

.left-side-panel {
    width: 35%;
}

.big-bold-text {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 800;
}

.small-text {
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 20px;
}

.top-panel {
    background-color: #F9FAFBff;
    padding-left: 60px;
    padding-right: 240px;
    padding-top: 160px;
    padding-bottom: 30px;
}

.bottom-panel {
    background-color: #F9FAFBff;
    padding-left: 60px;
    padding-top: 40px;
    box-shadow: inset 0px 2px 2px lightgray;
}

.para1 {
    margin-top: 0px;
}

.form-panel {
    padding-left: 60px;
    padding-bottom: 40px;
}

.names, .contact-details, .passwords {
    display: flex;
    margin-bottom: 20px;
}

label {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: 300px;
    height: 28px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #E5E7EB;
}

input:focus {
    border-color: blue;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.left-input {
    margin-right: 100px;
}

button {
    background-color: #596D48;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border-radius: 12px;
    border: none;
    width: 260px;
    height: 60px;
}

.odin-logo {
    max-width: 85%;
    max-height: 85%;
    opacity: 1;
}

.odin {
    color: white;
    font-family: norse-bold;
    font-size: 100px;
    opacity: 1;
}

.logo {
    position: absolute;
    height: 200px;
    width: 35%;
    background: rgba(0, 0, 0, 0.45);
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
